default: &default
  adapter: postgresql
  encoding: unicode
  username: rails
  pool: 5

development:
  <<: *default
  database: skeleton_api_development

test:
  <<: *default
  database: skeleton_api_test<%= ENV["TEST_ENV_NUMBER"] %>
